<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find robot_description)/urdf/common_properties.urdf.xacro"/>

  <xacro:property name="tread_width" value="0.1500" />
  <xacro:property name="body_x" value="0.210" />
  <xacro:property name="body_y" value="0.160" />
  <xacro:property name="body_z" value="0.046" />

  <xacro:property name="velocity_scale_factor" value="1.0"/>
  <xacro:macro name="body" params="parent *joint_origin">

  <joint name="base_joint" type="fixed">
    <insert_block name="joint_origin"/>
    <parent link="${parent}"/>
    <child link="base_link"/>
  </joint>


  <!-- Robot Body -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="${body_x} ${body_y} ${body_z}"/>
      </geometry>
    </visual>
 
    <collision>
      <geometry>
        <box size="${body_x} ${body_y} ${body_z}"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.500"/>
      <inertia ixx="0.0020833333" ixy="0" ixz="0" iyy="0.0070833333" iyz="0" izz="0.0083333333"/>
    </inertial>
  </link>
  
  </xacro:macro> 
</robot>

