<launch>

	<arg name="no_static_map" default="false"/>

	<!-- Select "global_planner" plugins -->
	<arg name="base_global_planner" default="global_planner/GlobalPlanner"/>
	<!-- <arg name="base_global_planner" default="navfn/NavfnROS"/> -->
	<!-- <arg name="base_global_planner" default="carrot_planner/CarrotPlanner"/> -->

	<!-- Select "local_planner" plugins -->
	<arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>
	<!-- <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS"/> -->

	<arg name="ns_local_costmap" default="local_costmap"/>
	<arg name="ns_global_costmap" default="global_costmap"/>


	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

		<!-- ========== planner setting ========== -->
		<rosparam file="$(find slambot_navigation)/param/navi/move_base_params.yaml" command="load" />
		<param name="base_global_planner" value="$(arg base_global_planner)"/>
		<param name="base_local_planner" value="$(arg base_local_planner)"/>

		<!-- global planner params -->
		<rosparam file="$(find slambot_navigation)/param/navi/global_planner/global_planner_params.yaml" command="load" />
		<rosparam file="$(find slambot_navigation)/param/navi/global_planner/navfn_params.yaml" command="load" />
		<rosparam file="$(find slambot_navigation)/param/navi/global_planner/carrot_planner_params.yaml" command="load" />

		<!-- local planner params -->
		<rosparam file="$(find slambot_navigation)/param/navi/local_planner/base_local_planner_params.yaml" command="load" />
		<rosparam file="$(find slambot_navigation)/param/navi/local_planner/dwa_local_planner_params.yaml" command="load" />
		<rosparam file="$(find slambot_navigation)/param/navi/local_planner/teb_local_planner_params.yaml" command="load" />


		<!-- ========== const map ========== -->
		<!-- observation sources located in costmap_common.yaml -->
		<rosparam file="$(find slambot_navigation)/param/navi/costmap_common_params.yaml" command="load" ns="$(arg ns_global_costmap)" />
		<rosparam file="$(find slambot_navigation)/param/navi/costmap_common_params.yaml" command="load" ns="$(arg ns_local_costmap)" />

		<!-- local costmap params -->
	    <rosparam file="$(find slambot_navigation)/param/navi/costmap_local_params.yaml" command="load" ns="$(arg ns_local_costmap)" />
	    <param name="$(arg ns_local_costmap)/width" value="10.0"/>		<!-- [m] -->
	    <param name="$(arg ns_local_costmap)/height" value="10.0"/>		<!-- [m] -->
		<param name="$(arg ns_local_costmap)/resolution" value="0.05"/>	<!-- [m/cell] -->

		<!-- static global costmap, static map provides size -->
<!--
		<rosparam file="$(find husky_navigation)/config/costmap_global_static.yaml" command="load" ns="global_costmap"
			unless="$(arg no_static_map)"/>
-->

		<!-- global costmap with laser, for odom_navigation_demo -->
<!--
		<rosparam file="$(find husky_navigation)/config/costmap_global_laser.yaml" command="load" ns="global_costmap"
			if="$(arg no_static_map)"/>
			<param name="global_costmap/width" value="100.0" if="$(arg no_static_map)"/>
			<param name="global_costmap/height" value="100.0" if="$(arg no_static_map)"/>
-->
	</node>

</launch>
