<launch>

	<arg name="no_static_map" default="false"/>
	<arg name="move_base_simple_goal" default="/move_base_simple/goal" />

	<arg name="cmd_vel_topic" default="/cmd_vel" />
	<arg name="odom_topic" default="/odom" />

	<arg name="global_planner_type" default="global_planner/GlobalPlanner"/>
	<arg name="local_planner_type" default="dwa_local_planner/DWAPlannerROS"/>

	<arg name="ns_costmap_local" default="local_costmap"/>
	<arg name="ns_costmap_global" default="global_costmap"/>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

		<!-- move_base_params.yaml -->
		<rosparam file="$(find slambot_navigation)/param/navi/move_base_params.yaml" command="load" />

		<!-- observation sources located in costmap_common.yaml -->
		<rosparam file="$(find slambot_navigation)/param/navi/costmap_common_params.yaml" command="load" ns="$(arg ns_costmap_local)" />
		<rosparam file="$(find slambot_navigation)/param/navi/costmap_common_params.yaml" command="load" ns="$(arg ns_costmap_global)" />
		<rosparam file="$(find slambot_navigation)/param/navi/costmap_local_params.yaml" command="load" ns="$(arg ns_costmap_local)" />
		<rosparam file="$(find slambot_navigation)/param/navi/costmap_global_withoutmap_params.yaml" command="load" ns="$(arg ns_costmap_global)" if="$(arg no_static_map)" />
		<rosparam file="$(find slambot_navigation)/param/navi/costmap_global_withmap_params.yaml" command="load" ns="$(arg ns_costmap_global)" unless="$(arg no_static_map)" />

		<!-- global planner params -->
		<param name="base_global_planner" value="$(arg global_planner_type)"/>
		<rosparam file="$(find slambot_navigation)/param/navi/global_planner/global_planner_params.yaml" command="load" />
		<rosparam file="$(find slambot_navigation)/param/navi/global_planner/navfn_params.yaml" command="load" />
		<rosparam file="$(find slambot_navigation)/param/navi/global_planner/carrot_planner_params.yaml" command="load" />

		<!-- local planner params -->
		<param name="base_local_planner" value="$(arg local_planner_type)"/>
		<rosparam file="$(find slambot_navigation)/param/navi/local_planner/base_local_planner_params.yaml" command="load" />
		<rosparam file="$(find slambot_navigation)/param/navi/local_planner/dwa_local_planner_params.yaml" command="load" />
		<rosparam file="$(find slambot_navigation)/param/navi/local_planner/teb_local_planner_params.yaml" command="load" />

		<remap from="move_base_simple/goal" to="$(arg move_base_simple_goal)"/>
		<remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
		<remap from="odom" to="$(arg odom_topic)"/>

	</node>

</launch>
