<!-- slambot_teleop_ps4joy.launch -->
<launch>

	<group ns="teleop_joy_client">
		<!-- PS4 Joy -->
		<node pkg="joy" type="joy_node" name="ps4_slambot_joy" >
			<param name="dev" 				type="string"	value="/dev/input/js0" />
			<param name="coalesce_interval" type="double"	value="0.1" />
		</node>

		<!-- Slambot Teleop Ps4joy -->
		<node pkg="slambot_teleop" type="slambot_teleop_ps4joy_node" name="slambot_teleop_ps4joy" output="screen" >
			<remap from="joy" 		to="joy" />
			<remap from="cmd_vel" 	to="/slambot_hw/diff_drive_controller/cmd_vel"/>
		</node>
	</group>

</launch>
