<launch>

	<arg name="model" default="$(find slambot_description)/urdf/slambot.urdf.xacro"/>
	<arg name="gui" default="True"/>
	<arg name="rvizconfig" default="$(find slambot_slam)/config/slam.rviz"/>

	<param name="use_gui" value="$(arg gui)"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
		<remap from="robot_description" to="/slambot_host/robot_description" />
	</node>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
		<remap from="robot_description" to="/slambot_host/robot_description" />
	</node>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>

</launch>
