<launch>

	<arg name="model" default="$(find slambot_description)/urdf/slambot.urdf.xacro"/>

	<group ns="slambot_host">

		<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>

		<!-- convert joint states to TF transforms for rviz, etc -->
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
			respawn="false" output="screen">
				<remap from="joint_states" to="/slambot_hw/joint_states" />
				<remap from="robot_description" to="robot_description" />
		</node>

		<!-- SLAM -->
		<include file="$(find slambot_slam)/launch/slam/gmapping.launch">
			<arg name="scan_topic" value="/slambot_sensor/xtion_pro_live/scan" />
			<arg name="odom_topic" value="/slambot_hw/diff_drive_controller/odom" />
		</include>

	</group>


	<!-- RViz -->
	<arg name="gui" default="True"/>
	<arg name="rvizconfig" default="$(find slambot_slam)/config/slam.rviz"/>
	<!-- prameters -->
	<param name="use_gui" value="$(arg gui)"/>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>

</launch>
