<launch>
	<arg name="model" default="$(find slambot_description)/urdf/slambot.urdf.xacro"/>

	<arg name="camera" default="xtion_pro_live"/>
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find slambot_gazebo)/world/test_001.world"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/>
	</include>

	<group ns="slambot_host">
		<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>

		<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
			args="-urdf -model slambot -param robot_description"/>

		<!-- Load joint controller configurations from YAML file to parameter server -->
		<rosparam file="$(find slambot_slam)/param/controller.yaml" command="load"/>
		<!-- load the controllers -->
		<node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
			args="joint_state_controller diff_drive_controller"/>

	</group>

</launch>
