<!-- vehicle_controller.launch -->
<launch>

	<group ns="slambot_host">

		<!-- Vehicle Controller -->
		<node respawn="true" pkg="vehicle_controller" type="vehicle_controller_node" name="vehicle_controller" output="screen">
			<remap from="cmd_vel" 		to="cmd_vel"/>
			<param name="cmd_vel_timeout"	type="double"	value="0.5"/>
			<param name="polling_rate"		type="double"	value="10"/>
			<param name="wheel_radius"		type="double"	value="0.024"/>
			<param name="tread_width"		type="double"	value="0.150"/>
			<param name="debug/enable"		type="bool"		value="false"/>
		</node> 

	</group>

</launch>

