<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">  
  <xacro:macro name="caster_board_gazebo" params="prefix">
    <gazebo reference="${prefix}_caster_board">
      <!-- <selfCollide>true</selfCollide> -->
      <!-- <mu1 value="0.05" /> -->
      <!-- <mu2 value="0.05" /> -->
      <mu1>0</mu1>
      <mu2>0</mu2>
    </gazebo>
  </xacro:macro>
</robot>
