<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="slambot">

  <xacro:include filename="$(find robot_description)/urdf/slambot_properties.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/body/body.urdf.xacro" />
  <xacro:include filename="$(find robot_description)/urdf/wheel/wheel.urdf.xacro"/>
  <xacro:include filename="$(find robot_description)/urdf/sensors/xtion_pro_live/xtion_pro_live.urdf.xacro"/>

  <xacro:property name="ofs_foot" value="0.055" />


  <!-- body -->
  <link name="base_body"/>

  <xacro:body parent="base_body">
    <origin xyz="0 0 ${body_z/2}"/>
  </xacro:body>

  <!-- Wheel -->
  <xacro:wheel prefix="right" parent="base_body">
    <origin xyz="0 ${-tread_width/2} ${wheel_radius - ofs_foot}"
            rpy="${M_PI/2} 0 0"/>
    <axis xyz="0 0 -1"/>
  </xacro:wheel>
  <xacro:wheel prefix="left" parent="base_body">
    <origin xyz="0 ${tread_width/2} ${wheel_radius - ofs_foot}"
            rpy="${-M_PI/2} 0 0"/>
    <axis xyz="0 0 1"/>
  </xacro:wheel>

  <!-- Foot Print -->
  <link name="base_footprint"/>
  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 ${ofs_foot}"/>
    <parent link="base_footprint"/>
    <child link="base_body"/>
  </joint>


  <!-- Sensor -->
  <xacro:sensor_xtion_pro_live prefix="sensor_xtion_pro_live" parent="base_body"/>


  <!-- ===============  Transmission =============== -->
  <!-- <xacro:wheel_trans prefix="right" interface="EffortJointInterface"/> -->
  <!-- <xacro:wheel_trans prefix="left" interface="EffortJointInterface"/> -->
  <xacro:wheel_trans prefix="right" interface="VelocityJointInterface"/>
  <xacro:wheel_trans prefix="left" interface="VelocityJointInterface"/>

 

</robot>

