<launch>
	<arg name="model" default="$(find slambot_description)/urdf/slambot.urdf.xacro"/>

	<arg name="camera" default="xtion_pro_live"/>
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find slambot_gazebo)/world/willow_garage.world"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/>
	</include>

	<group ns="slambot_hw">
		<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>

		<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
			args="-urdf -model slambot -param robot_description"/>

		<!-- depthimage_to_laserscan -->
		<node pkg="nodelet" type="nodelet" name="laserscan_nodelet_manager" args="manager"/>
		<node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan"
			args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager"
			respawn="true">

			<rosparam file="$(find slambot_sensing)/param/depthimage_to_laserscan.yaml" command="load" />

			<remap from="image" to="xtion_pro_live/depth_registered/image_raw"/>
			<remap from="camera_info" to="xtion_pro_live/depth_registered/camera_info"/>
			<remap from="scan" to="xtion_pro_live/scan"/>
		</node>

		<!-- Load joint controller configurations from YAML file to parameter server -->
		<rosparam file="$(find slambot_gazebo)/param/controller.yaml" command="load"/>
		<!-- load the controllers -->
		<node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
			args="joint_state_controller diff_drive_controller"/>

	</group>

</launch>
